<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/app.css" type="text/css" />
    <script>
        document.addEventListener('click', event => {
            const target = event.target.closest('a')
            if (target?.href && target.origin === window.location.origin) {
                event.preventDefault()
                if (target.pathname === window.location.pathname) {
                    return
                }
                window.history.pushState(null, '', target.pathname)
                var popStateEvent = new PopStateEvent('popstate', {state: null});
                window.dispatchEvent(popStateEvent);
            }
        })
    </script>
    <script type="module" src="/static/dist/datastar-0-21-4-9749015e8a0414d4.js"></script>
</head>

<body data-on-popstate__window="sse(document.location.pathname)" data-signals-sse="true">
    <div class="hide-on-big">
        {% include "partials/logo-and-title.html" %}
    </div>
    {% include "partials/nav-menu.html" %}
    {% block content %}
    {% include includeTemplate %}
    {% endblock %}
    {% include "partials/footer.html" %}

    <ul id="notification-list"></ul>
</body>

</html>
