<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="view-transition" content="auto">
    <link rel="stylesheet" href="/static/app.css" type="text/css" />
</head>

<body>
    <div class="hide-on-big">
        {% include "partials/logo-and-title.html" %}
    </div>
    {% include "partials/nav-menu.html" %}
    {% block content %}
    {% include includeTemplate %}
    {% endblock %}
    {% include "partials/footer.html" %}
</body>

</html>
