{% extends "base.html" %}

{% block content %}

<div class="container">

  <form data-on-submit__prevent="sse('/magic/auth/login', { method: 'post'})" action="/auth/login" method="post" >

        <h2>Login</h2>

        <div id="login-errors">
            {% if errors %}<p class="error">{{ errors }}</p>{% endif %}
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" data-bind-username required />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" data-bind-password required />
        </div>

        <div class="button-group">
            <input type="submit"  value="Log in" />
        </div>
    </form>
</div>

{% endblock %}
