{% extends "base.html" %}

{% block content %}
<div class="register-container">
    <h2>Register</h2>
    <form id="register-form" data-signals="{ error: '' }" method="post">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required data-bind-username>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required data-bind-email>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required data-bind-password>

            <label for="name">Name (Optional)</label>
            <input type="text" id="name" name="name" data-bind-name>

            <p class="error" data-show="error.value" data-text="error.value"></p>

            <div class="button-group">
                <button class="form-submit" type="submit">
                    Register
                </button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
