<nav id="mainNav" role="navigation" class="full">
    <div id="navMenuToggle" class="menuToggle">
        <input type="checkbox" id="navMenuCheckbox" />

        <span class="trigger">
            {% include "icons/menu.svg" %}
        </span>
        <ul id="navMenu" class="menu">
            <li class="close">
                {% include "icons/x.svg" %}
            </li>
            <li class="app-info">
                {% include "partials/logo-and-title.html" %}
            </li>
            <hr />
            {% if user.role === 'admin' %}
            <li class="section-title">
                <h3>Admin</h3>
            </li>
            <a href="/users" data-on-click="navMenuCheckbox.click()">
                <li>
                    <label for="navMenuCheckbox">
                        Users
                    </label>
                </li>
            </a>
            {% endif %}
            <li class="section-title">
                <h3>User</h3>
            </li>
            {% if user %}
            <a href="/auth/profile" data-on-click="navMenuCheckbox.click()">
                <li>
                    <label for="navMenuCheckbox">
                        Profile
                    </label>
                </li>
            </a>
            <a href="/auth/logout"
                data-on-click__prevent="sse('/auth/logout', { method: 'POST' }); navMenuCheckbox.click()">
                <li>
                    <label for="navMenuCheckbox">
                        Log out
                    </label>
                </li>
            </a>
            {% else %}
            <a href="/auth/login" data-on-click="navMenuCheckbox.click()">
                <li>
                    <label for="navMenuCheckbox">
                        Log in
                    </label>
                </li>
            </a>
            <a href="/auth/register" data-on-click="navMenuCheckbox.click()">
                <li>
                    <label for="navMenuCheckbox">
                        Register
                    </label>
                </li>
            </a>
            {% endif %}
        </ul>
    </div>
</nav>
