<li 
  class="notification {{type}}" 
  id="notification{{id}}" 
  data-on-load="
  setTimeout(() => notification{{id}}.classList.add('slide-out'), {{delay}})
  setTimeout(() => notification{{id}}.remove(), {{delay}} + 200)
  "
>
    {% if type == "success" %}
    {% include "icons/check-circle.svg" %}
    {% elif type == "error" %}
    {% include "icons/alert-triangle.svg" %}
    {% else %}
    {% include "icons/info.svg" %}
    {% endif %}
    <p class="notification-message">{{message}}</p>
</li>
