<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" id="menuCheckbox" data-ref-menuCheckbox />

        <span class="trigger">
            {% include "icons/user.svg" %}
        </span>
        <ul id="menu">
            <li class="close">
                {% include "icons/x.svg" %}
            </li>
            <li class="user-info">
                {% if user.username %}
                <em>Logged in as {{ user.username }}</em>
                {% else %}
                <em>Not logged in</em>
                {% endif %}
            </li>
            {% if user.id %}
            <hr />
            <a href="/auth/profile" data-on-click__prevent="sse('/magic/auth/profile');menuCheckbox.click()">
                <li>
                    <label for="menuCheckbox" onclick="this.parentNode.click();">Profile</label>
                </li>
            </a>

            <li>
                <label for="menuCheckbox">
                    <form class="inline-form" action="/auth/logout" method="post">
                        <button class="ghost-button">Logout</button>
                    </form>
                </label>
            </li>
            {% else %}
            <a href="/auth/login" data-on-click__prevent="sse('/magic/auth/login');menuCheckbox.click()">
                <li><label for="menuCheckbox">Login</label></li>
            </a>
            <a href="/auth/register" data-on-click__prevent="sse('/magic/auth/register');menuCheckbox.click()">
                <li><label for="menuCheckbox">Register</label></li>
            </a>
            {% endif %}
        </ul>
    </div>
</nav>

<style>
    #menu hr {
        margin: 1rem;
        border-color: var(--contrast-bg-color);
    }

    #menuToggle {
        display: block;
        position: relative;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: var(--color);

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: var(--primary-color);
    }


    #menuToggle input {
        display: block;
        width: 2rem;
        height: 2rem;
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }


    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menu {
        position: absolute;
        top: -1rem;
        right: -2rem;
        /* height: 100vh; */
        width: max-content;
        padding: 0;
        box-sizing: border-box;
        overflow-y: auto;
        background: var(--contrastier-bg-color);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        /*z-index: -1; */
        transform: translate(100%, 0);
        transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        margin: 0;
        padding-bottom: 2rem;
    }

    #menu li {
        color: var(--color);
        margin: 0;
        padding: 0.5rem 2rem;
    }


    #menu li label {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    #menu li:has(label):hover {
        background-color: var(--contrast-bg-color);
    }

    .user-info {
        display: flex;
        justify-content: space-between;
        height: 3.5rem;
        gap: 2rem;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }

    #menuToggle input:checked+.trigger {
        visibility: hidden;
    }

    #menu .close {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
</style>
